.topContainer {
    padding-top: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #c4bea8;
    border-radius: 8px;
    padding-left: 10em;
    padding-right: 10em;
}

.bottomContainer {
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    padding-left: 10em;
    padding-right: 10em;
}

.votingNotice {
    color: #ff5756;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.votingNoticeStarted {
    color: green;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.votingDates {
    display: flex;
    justify-content: space-between;
}

.startingDate {
    color: #c4fcb0;
}

.endDate {
    color: #fd8889;
}

.dateContainer {
    color: white;
    padding: 5px 10px;
    background-color: #606779;
    border-radius: 8px;
}

.goalText {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}

.ideaWhisperGoal {
    background-color: #606779;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.ideaEntryButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.editButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.adminMessage {
    font-size: 1em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:2.5%;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 0, 0, 0.516);
    border-radius: 5px;
}

.ideaBox {
    background-color: #d8d8d8;
    color: #444444;
    padding: 15px;
    border-radius: 8px;
}

.ideaVoteLoser {
    background-color: #d8d8d8;
    color: #444444;
    padding: 15px;
    border-radius: 8px;
    border:2px solid #fd5857
}

.ideaVoteWinner {
    background-color: #d8d8d8;
    color: #444444;
    padding: 15px;
    border-radius: 8px;
    border:5px solid #29bd4e
}

.addProText {
    color: #29bd4e;
    padding: 5px;
    font-weight: bold;
}

.addConText {
    color: #fd5857;
    padding: 5px;
    font-weight: bold;
}

.proBox {
    background-color: #aee0a3;
    color: #444444;
    margin-left: 100px;
    border-radius: 8px;
    padding: 15px;
}

.conBox {
    background-color: #ffc9bc;
    color: #444444;
    margin-left: 100px;
    border-radius: 8px;
    padding: 15px;
}

.likeButton {
    color: #FFFFFF; /* Change text color to white for better contrast */
    background-color: #132c85; /* Button background color */
    padding: 2px; /* Add padding for a larger, more clickable area */
    font-weight: bold;
    border: 2px solid #132c85; /* Border color similar to background for a cohesive look */
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    cursor: pointer; /* Change cursor to indicate button */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.likeButton:hover {
    background-color: #1a4099; /* Slightly darker shade on hover */
    border-color: #1a4099; /* Border color changes on hover */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Increased shadow on hover for a "lifting" effect */
}

.copyButton {
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.copyButton:hover {
    background-color: #45a049;
}

.submitButton {
    background-color: #545458;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.submitButton:hover {
    background-color: #696969; /* Darker grey on hover */
}

.ideaTextarea {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the textarea */
    margin: 8px 0; /* Margin for spacing */
    display: inline-block; /* Inline block display */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Box sizing to include padding in width/height */
    resize: vertical; /* Allow only vertical resizing */
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }