/* PostCreation.module.css */

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Heading styles */
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Textarea styles */
.container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

/* Character count styles */
.characterCount {
    color: #888;
    font-size: 14px;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Label styles */
.container label {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

/* Checkbox styles */
.container input[type="checkbox"] {
    margin-right: 5px;
}

/* Date picker container */
.datePickerContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Date picker item */
.datePickerItem {
    flex: 1;
    display: flex; /* Center horizontally */
    flex-direction: column; /* Stack elements vertically within each datePickerItem */
    margin-right: 10px; /* Adjust spacing between date pickers */
}

/* Date picker styles */
.datePicker {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: center; /* Center horizontally within datePickerItem */
}

.link {
    font-weight: bold;
    color: #007BFF;
    text-decoration: underline;
}

.groupCard {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.groupNameInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.removeGroupButton {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.removeGroupButton:hover {
    background-color: #ff7875;
}

.groupBody {
    display: flex;
    flex-direction: column;
}

.emailCollectorLabel {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.emailListInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
